@model IChirper.ViewModels.UserViewModel


<div class="d-flex align-items-center">
    <div class="row">
        <div class="">     
            <h3 class = "display-2 lng-ProfileText theme-page-text">Your profile:</h3>      
            <br/>
            <h3 class="display-2 theme-page-text">@Model.FirstName @Model.LastName</h3>
            <h4 class="lng-NickNameRegister theme-page-text">Nickname:</h4><h4 class="theme-main-text">@Model.NickName</h4><br/>
            <h4 class="lng-AgeRegister theme-page-text">Age:</h4><h4 class="theme-main-text">@Model.Age</h4><br/>
            <h5 class="lng-ProfileRegistrationDate theme-page-text">Registration date:</h5><h5 class="theme-main-text">@Model.RegisterDate</h5><br/>
        </div>
    </div>
</div>